<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Debug/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
      <StaticLogFileName value="false"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%message%newline%newline"/>
      </layout>
    </appender>
    <appender name="WarnLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Warn/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
      <StaticLogFileName value="false"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%message%newline"/>
      </layout>
    </appender>
    <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Info/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMddHH&quot;.txt&quot;"/>
      <StaticLogFileName value="false"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <logger name="DebugLog">
      <level value="DEBUG"/>
      <appender-ref ref="DebugLog"/>
    </logger>
    <logger name="WarnLog">
      <level value="Warn"/>
      <appender-ref ref="WarnLog"/>
    </logger>
    <logger name="InfoLog">
      <level value="Info"/>
      <appender-ref ref="InfoLog"/>
    </logger>
    <root>
    </root>
  </log4net>
  <appSettings>
    <add key="Username" value="findpwd"/>
    <add key="pwd" value="*admin*"/>
    <add key="FolderPath" value="E:\selenium\YoukuAutomation\uploadfile"/>
    <add key="VideoPath" value="E:\selenium\YoukuAutomation\videofile"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
